.wrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.wrap img {
    height: 25px;
    width: 25px;
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.popup {
    height: 470px;
    width: 440px;
    background-color: white;
    padding: 40px 45px;
    color: black;
    overflow-y: auto;
    animation: slide-down 300ms ease-out forwards;

}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.input input {
    width: 428px;
    height: 58px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding-left: 10px;
}

.input input:focus {
    outline: none;
}

.phone-input {
    width: 407px !important;
    height: 58px !important;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding-left: 10px !important;
    margin-left: 35px !important;
}

.error {
    color: red;
    text-align: left;
}

.submit {
    background-color: #000000;
    padding: 20px 0;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.submitted {
    background-color: #62c584;
    padding: 30px 60px;
    color: white;
    margin-top: 25px;
}

@media screen and (max-width: 992px) {
    .wrap {
        background-color: black;
        height: 100%;
        padding-top: 25px;
    }

    .popup {
        width: 85%;
        min-height: 80%;

    }

    .phone-input {
        width: 310px !important;
        border-radius: 5px;
        padding-left: 17px !important;
        margin-left: 28px !important;

    }

    .input input {
        width: 325px;
        height: 58px;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        padding-left: 10px;
    }
    .wrap img{
        top: 30px;
        right: 10px;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}