.header {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.important {
    color: rgb(171, 255, 179);
}

.promo-img img {
    height: 450px;
    transform: translateY(-75px);
}

.promo {
    font-size: 30px;
    text-align: left;
    font-weight: 1000;
    max-width: 453px;
    margin-top: 25px;
}
.promo-info-advantages-list{
    margin-top: 25px;
}

.promo-title {
    font-size: 26px;
    text-align: left;
}

.promo-info-advantages-list {
    display: flex;
    gap: 20px;
}

.promo-img {
    margin-left: 50px;
}

.advantage {
    font-size: 20px;
}

.advantage span {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    background-color: #45ff57;
    margin-right: 8px;
}
.promo-info {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .promo-img img {
        transform: translateY(0px);
        margin-top: 30px;
    }

    .promo-info {
        display: flex;
        flex-direction: column;
    }

    .button-container {
        align-self: center;
        order: 3;
    }

    .promo {
        order: 2;
    }

    .promo-info-advantages-list {
        order: 1;
    }

    .wrapper {
        padding: 0 25px;
    }

    .promo-img {
        margin: 0 auto;
    }

    .promo-img img {
        height: 321px;
    }

    .button-container a {
        font-size: 19px;
        padding: 20px 50px;
    }
}